[Unit]
Description=evmqtt-rs
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/etc/evmqtt-rs.env
ExecStart=/usr/bin/evmqtt-rs --daemon
Restart=on-failure
RestartSec=3
DynamicUser=yes
SupplementaryGroups=input
StateDirectory=evmqtt-rs
Environment=EVMQTT_DB=/var/lib/evmqtt-rs/db.toml

[Install]
WantedBy=multi-user.target
